<section class="hero">
  <div class="hero-content">
    <div class="mt-40 text-left me-30">
      <h1>{{ content.title }}</h1>
      <button class="cta-button" (click)="onCtaClick()">{{ content.ctaText }}</button>
    </div>
    <div class="illustration">
      <img src="assets/people.png" alt="People collaborating" />
    </div>
  </div>
  
</section>

<div class="description">
  <p>Prova com 10 questões gerais sobre a matéria de ciências humanas.</p>
  <h2>O que são as Ciências Humanas?</h2>
  <p>{{ content.description }}</p>
</div>