.registration {
  /* background-color: white;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  margin: 2rem auto;
  max-width: 500px;
}

.registration-container {
  width: 100%;
}

h2 {
  color: #7c4dff;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
  
}

form{
  text-align: center;
}

.form-hint{
  color: #6C5CE7;
}

input {
  width: 100%;
  padding:10px;
  border: 2px solid #A29BFE;
  border-radius: 50px;
  color: #fff;
  font-size: 1rem;
  background-color: #A29BFE;
  transition: border-color 0.2s, background-color 0.2s;
}

input:focus {
  border-color: #7c4dff;
  outline: none;
  background-color: white;
}

input.error {
  border-color: #dc3545;
  background-color: #fff8f8;
}

.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
  position: absolute;
  bottom: -1.25rem;
}

button {
  /* width: 100%; */
  padding: 1rem;
  background-color: #ffd700;
  color: #333;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  margin-bottom: 1rem;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  transform: scale(1.02);
  background-color: #ffd900;
}

.form-hint {
  text-align: center;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .registration {
    margin: 1rem;
  }
  
  .error-message {
    font-size: 0.75rem;
  }
}